In [1]:
import pandas as pd

In [3]:
file_path = "./Resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path)
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [4]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [6]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [8]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [9]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [11]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [12]:
df_shopping = df_shopping.drop(['CustomerID'], axis = 1)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [14]:
# Remove the customerID column  
# this has been commented because column has been dropped in the previous step. this is just another way of dropping the column
# df_shopping.drop(columns = ["CustomerID"], inplace = True)
# df_shopping.head()

KeyError: "['CustomerID'] not found in axis"

In [15]:
# transform string column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
df_shopping["Card Member"]= df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [16]:
# Transform annual income
df_shopping["Annual Income"]= df_shopping["Annual Income"]/1000
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [17]:
# Renaming columns
df_shopping.rename(columns={'Card Member':'Card_Member',
                          'Age':'Age',
                          'Annual Income':'Annual_Income',
                           'Spending Score (1-100)':'Spending_Score'}, 
                 inplace=True)
df_shopping.head()

   Card_Member   Age  Annual_Income  Spending_Score
0            1  19.0           15.0            39.0
1            1  21.0           15.0            81.0
2            0  20.0           16.0             6.0
3            0  23.0           16.0            77.0
4            0  31.0           17.0            40.0

In [18]:
# Export the dataframe
# Saving cleaned data to csv
file_path = "./Resources/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [19]:
# Saving the file as excel
file_path = "./Resources/shopping_data_cleaned.xlsx"
df_shopping.to_excel(file_path, index=False)

In [1]:
import pandas as pd
import plotly.express as px

ModuleNotFoundError: No module named '_plotly_utils'